<html>
  <head></head>
  <body>
    <h1>Animal Page!</h1>
    <h2><%= animal.name %></h2>
    <ul>
    <li>emoji - <%= animal.emoji %></li>
    <li>description - <%= animal.description %></li>
    <li>sound - <%= animal.sound %></li>
  </body>
</html>