<html>
  <head></head>
  <body>
    <h1>Animals Page!</h1>
    <h2>Loop over animals</h2>
    <ul>
      <% for (var i = 0; i < animals.length; i++) { %>
        <li><%= animals[i].name %></li>
      <% } %>
    </ul>
  </body>
</html>