<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>OH MAN I LOVE DOGS</h1>  
  <h2>THE WORLD'S PREMIERE SITE FOR DOGS</h2>
  <h3><%= dogName %></h3>

  <ul>
    <li><%= dogBreed %></li>
    <li><%= dogFood %></li>
    <li><%= dogAlbum %></li>
  </ul>
</body>
</html>