<html>
  <head>
  </head>
  <body>
    <h1>Welcome to my awesome website!</h1>
    <%= 1 + 1 %>

    <h2><%= message %></h2>

    <% for (var i = 0; i < 10; i++) { %>
      <p>Heyooooo</p>
    <% } %>
  </body>
</html>